*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    font-family:Arial, Helvetica, sans-serif;
}


/* navbar starts */
.navbarContainer{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: transparent;

}
nav{
    margin-left: 5%;
    top: 0;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    height: 10vh;
    width: 90%;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
   margin-left: 2em;
    color: #ff8705;
    font-weight:700;
    font-size: 1.5em;
}
.logo span{
    color: blue;
}

ul{
    color: #8c949b;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    column-gap: 2em;
}
ul li{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.arrow-down {
    position: relative;
    top: 50%;
    margin-left: 3px;
    /* padding-left: 2px; */
    /* right: 5px;  */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; /* Adjust arrow color and size as needed */
  }

.searchSection{
    margin-right: 2em;
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* column-gap: 1em; */
    height: 50%;
}

.searchForm{
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    position: relative;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 10px;
    width: 50%;
}

.searchBar{
    width: 80%;
    position: relative;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
   
    
}
.cart{
    position: relative;
    display: flex;
    width: 40px;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.cart i{
    width: 20px;
}
/* navbar ends */

/* strips starts */

.strips{
    width: 90vw;
    height: 100vh;
    position: absolute;
    margin-left:8%;
    display: flex;
    column-gap: 2%;
    z-index: -1;
    top: 0;
}

.lines{
    z-index: -1;
    width:7%;
    height: 100vh;
    background-color: rgba(253, 165, 165, 0.075);
}



/* strips ends */

.grey{
    top: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: #c6cace68;
    width: 30vw;
    left: 70vw;
}


/* main container starts */
.container{
    width: 90vw;
    height: 70vh;
    position: relative;
    /* border: 1px solid black; */
    /* margin: auto; */
    margin-left: 8%;
    display: flex;
}

.left{
    padding-left: 1em;
    position: relative;
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.left h1{
    text-align: left;
    font-size: 3.7em;
    
}
.left h1 span{
    color: #ff8705;
}
.left p{
    line-height: 1.1;
    padding-right: 0.5em;
}
.shop{
    color: white;
    margin-top: 1em;
    width: 40%;
    height: 10%;
    border: none;
    border-radius: 100px;
    background-color: rgb(55, 55, 55);
    cursor: pointer;
}

.right{
    position: relative;
    width:60%;
    height: 100%;
    /* border: 1px solid green; */

}

.right img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.3,1.2);
    height: 85%;
    
}


/* main container ends */
.overview{
    height: 20vh;
    width: 100%;
    background-color: #ef7e06;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.service{
    width: 10%;
    height: 70%;
    position: relative;
    display: flex;
}

.leftService{

    width: 50%;
    position: relative;
}
.leftService i{
    /* transform: scale(2,2); */
    /* width: 100%;
    height: 100%; */
    padding-left: 25px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: scale(2.5,2.5) translate(-25%,-20%);
}

.rightService{
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    line-height: 0.8;
color: white;

}

.rightService h2{
    font-size: 1.7em;
    font-weight: 700;
}
.rightService p{
    text-align: center;
    font-size: 1em;
}